# Ignore binary files
*.o
*.obj
*.exe
*.out
*.app
*.log
*.a
*.so
*.dll
*.dylib
*.pdb
*.lib

# Ignore directories
/build/
/bin/
/lib/

# Ignore VS Code workspace and settings files
.vscode/

# Ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore compiled musicbib executable
musicbib

# Ignore OS-specific files
.DS_Store
Thumbs.db
